
/*Zone entête*/
#headingzone{
    width: 316px;
    height: 135px;
    position: relative;
    background: rgb(161, 224, 224) ;
    left:2px;
    top:1px;
    border-radius:20px 20px 35px 35px;
    cursor: pointer;
}

button{
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    /*transition-duration: -15s;*/
}

#headingzone span{
    color:whitesmoke;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    top: 60px;
}

#resultzone{
    width:280px;
    height:74px;
    position:absolute;
    left:14px;
    top:50px;
    border-radius:8px 8px 8px 8px;
    background-color:rgb(145,145,145);
    border-bottom:4px;
    opacity: 0.5;
    cursor: pointer;
}

#resultzone:hover{
    width: 281px;
    height: 75px;
    background-color:#0a0a0a ;
    color: white;
}

#calc_corpus{
    width:320px;
    height:524px;
    position:absolute;
    left:298px;
    top:40px;
    border-radius:20px 20px 50px 50px;
    background:rgb(65, 75, 65);
    border:2px inset rgb(31, 36, 31);
    cursor: pointer;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
}

 
/*Zone1 des boutons de management de la calculatricce {2ndF,ALPHA,SETUP,ON/OFF,MODE,DEL,haut,bas,gauche,droite*/
#button2ndF{
    border-radius: 0px 120px 0px 120px;
    width: 60px;
    height: 25px;
    padding: 5px;
    left: 8px;
    top: -75px;
    color:white;
    position: relative;
    background: rgb(218, 87, 12);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*border:0px;*/
}

#button2ndF:hover{
    background-color:rgb(218, 53, 12) ;
    color: whitesmoke;
}

#buttonOnOff{
    border-radius: 120px 0px 120px 0px;
    width: 60px;
    height: 25px;
    padding: 5px;
    left: 246px;
    top: 141px;
    color:rgb(192, 40, 2);
    position: absolute;
    background: rgb(127, 143, 127);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*border:0px;*/
}

#buttonOnOff:hover{
    background-color:rgb(29, 34, 29);
    color: rgb(218, 53, 12);
}

#buttonAlpha{
    border-radius: 0px 12px 0px 12px;
    width: 53px;
    height: 23px;
    padding: 5px;
    left: 22px;
    top: 175px;
    color:white;
    position: absolute;
    background: rgba(55, 155, 55, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*border:0px;*/
}

#buttonAlpha:hover{
    background-color:rgb(6, 73, 6);
    color: white;
}

#buttonMode{
    border-radius: 12px 0px 12px 0px;
    width: 53px;
    height: 23px;
    padding: 5px;
    left: 237px;
    top: 175px;
    color:white;
    position: absolute;
    background: rgba(55, 63, 55, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*border:0px;*/
}

#buttonMode:hover{
    background-color:rgb(29, 34, 29);
    color: white;
}

#buttonUp{
    border-radius: 20px 20px 0px 0px;
    bottom: 500px;
    width: 31px;
    height: 20px;
    background:rgba(55, 63, 55, 0.822);
    color: whitesmoke;
    position: relative;
    left: 76px;
    top: -6px;
    /*border:0px;*/
}

#buttonUp:hover{
    background-color:rgb(226, 241, 226);
    color: black;
}

#buttonDown{
    border-radius: 0px 0px 20px 20px;
    bottom: 500px;
    width: 31px;
    height: 20px;
    background:rgba(55, 63, 55, 0.822);
    color: whitesmoke;
    position: relative;
    left: 41px;
    top: -16px;
    /*border:0px;*/
}

#buttonDown:hover{
    background-color:rgb(226, 241, 226);
    color: black;
}

#buttonLeft{
    border-radius: 20px 0px 0px 20px;
    bottom: 500px;
    width: 22px;
    height: 30px;
    background:rgba(55, 63, 55, 0.822);
    color: whitesmoke;
    position: absolute;
    left: 116px;
    top: 174px;
    /*border:0px;*/
}

#buttonLeft:hover{
    background-color:rgb(226, 241, 226);
    color: black;
}

#buttonRight{
    border-radius: 0px 20px 20px 0px;
    bottom: 500px;
    width: 22px;
    height: 30px;
    background:rgba(55, 63, 55, 0.822);
    color: whitesmoke;
    position: absolute;
    left: 171px;
    top: 174px;
    /*border:0px;*/
}

#buttonRight:hover{
    background-color:rgb(226, 241, 226);
    color: black;
}

#buttonSetup{
    border-radius: 0px 50px 0px 50px;
    width: 53px;
    height: 19px;
    padding: 5px;
    left: 32px;
    top: 208px;
    color:white;
    position: absolute;
    background: rgba(55, 63, 55, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    /*border:0px;*/
}

#buttonSetup:hover{
    background-color:rgb(29, 34, 29);
    color: white;
}

#buttonDel{
    border-radius: 50px 0px 50px 0px;
    width: 53px;
    height: 19px;
    padding: 5px;
    left: 228px;
    top: 208px;
    color:white;
    position: absolute;
    background: rgba(55, 63, 55, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    /*border:0px;*/
}

#buttonDel:hover{
    background-color:rgb(29, 34, 29);
    color: white;
}

#logs{
    position: absolute;
    left: 139px;
    top: 179px;
    color: rgb(22, 20, 20);
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}

#logs:hover{
    background: linear-gradient(rgba(55, 155, 55, 0.822),rgb(218, 87, 12));
    color: rgb(15, 14, 14);
}

#calctype{
    cursor: pointer;
}

#calctype:hover{
    background: linear-gradient(rgba(20, 160, 20, 0.822),rgb(172, 48, 10));
    color: rgb(15, 14, 14);
    border-radius: 5px 5px 5px 5px;
}

/*Zone2 -->Styles des boutons des fonctions prédéfinies {cos,sin,ln,tan,DRG,racince_carré,hyp,arctan,arccos,arcsin,log,...}*/
#buttonfunction{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(65, 75, 65);
    top:-15px;
    margin: 10px;
    padding: ;
}

.functionline{
    border-radius: 5px;
    width: 42px;
    height: 18px;
    background: rgba(55, 63, 55, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-align: center;
    margin: 3px;
    color: white;
    margin-left: 5px;
}
/*.functionline1{
    border-radius: 5px;
    width: 40px;
    height: 18px;
    margin: 2px;
    padding-right: 8px;
    left: 13px;
    top: 214px;
    color:white;
    position: relative;
    background: rgba(55, 63, 55, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    border:0px;
    text-align: center;
}*/

#buttonfunction button:hover{
    background-color:rgb(29, 34, 29);
    color: white;
    /*transition-duration: -100s;*/
}

/*.functionline2{
    border-radius: 5px;
    width: 40px;
    height: 18px;
    margin: 2px;
    padding-right: 8px;
    left: 13px;
    top: 220px;
    color:white;
    position: relative;
    background: rgba(55, 63, 55, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    border:0px;
    text-align: center;
}*/

/*.functionline3{
    border-radius: 5px;
    width: 40px;
    height: 18px;
    margin: 2px;
    padding-right: 8px;
    left: 13px;
    top: 226px;
    color:white;
    position: relative;
    background: rgba(55, 63, 55, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    border:0px;
    text-align: center;
}*/

/*Définition des blocs de boutons des touches numériques et des opérateurs (1,2,3,4,5,6,7,8,9,0,.,+,*,/,-(,)*/
#buttonnumeric button:hover{
    background-color:rgb(102, 112, 102);
    color: white;
    /*transition-duration: -100s;*/
}

.numericline1{
    border-radius: 5px;
    width: 56px;
    height: 28px;
    margin: 3px;
    padding-right: 8px;
    left: 13px;
    top: 240px;
    color:white;
    position: relative;
    background: rgba(188, 209, 188, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    /*border:0px;*/
    text-align: center;
}

.numericline2{
    border-radius: 5px;
    width: 56px;
    height: 28px;
    margin: 3px;
    padding-right: 8px;
    left: 13px;
    top: 248px;
    color:white;
    position: relative;
    background: rgba(188, 209, 188, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    /*border:0px;*/
    text-align: center;
}

.numericline3{
    border-radius: 5px;
    width: 56px;
    height: 28px;
    margin: 3px;
    padding-right: 8px;
    left: 13px;
    top: 256px;
    color:white;
    position: relative;
    background: rgba(188, 209, 188, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    /*border:0px;*/
    text-align: center;
}

.numericline4{
    border-radius: 5px;
    width: 56px;
    height: 28px;
    margin: 3px;
    padding-right: 8px;
    left: 13px;
    top: 264px;
    color:white;
    position: relative;
    background: rgba(188, 209, 188, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    /*border:0px;*/
    text-align: center;
}